<nav aria-label="Page navigation example">
    <ul class="pagination" ng-if="1 < pages.length || !autoHide">
        <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
          <a class="page-link" href="" ng-click="setCurrent(pagination.current - 1)">Anterior</a>
        </li>
        <li class="page-item" ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
            <a class="page-link" ng-click="setCurrent(pageNumber)" href="">{{ pageNumber }}</a>
        </li>
        <li class="page-item" ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a class="page-link" ng-click="setCurrent(pagination.current + 1)" href="">Siguiente</a>
        </li>
    </ul>
</nav>